$header-height: 52px;
$footer-height: 72px;

// header
#header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-content {
  padding-top: $header-height;
  min-height: calc(100vh - #{$footer-height});
}

// spacer
$spaces: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50); // 0から50pxまでを用意
$sides: (top, bottom, left, right); // 方向性

@each $space in $spaces {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// highlight.js
.hljs {
  &.has-file-name {
    position: relative;
    padding-top: 2rem;
  }

  .hljs-file-name {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(200, 200, 200, 0.5);
    padding: 0 0.6rem;
  }
}

// カテゴリータグ
.post-category-tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  color: #fff;
  padding: 0 .6rem;
  border-radius: 50rem;
}
